# putfood vars
export NODE_ENV={{ putfood_env }}
export API_PORT={{ putfood_api_port }}
export DATABASE_USERNAME={{ database_username }}
export DATABASE_PASSWORD={{ database_password }}
export DATABASE_HOSTNAME={{ database_hostname }}
